In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
# load the data
bank_data = pd.read_csv('../data/bank-additional-full.csv', sep=";")

In [3]:
bank_data.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

## remove duplicate rows

In [4]:
bank_data.shape

(41188, 21)

In [5]:
bank_data_unique = bank_data.drop_duplicates()

In [6]:
bank_data_unique.shape

(41176, 21)

## split the data into train, validation, and test sets
using a 70/15/15 split

In [7]:
# first split the test set from the train and validation set
train_valid, test_data = train_test_split(bank_data_unique, test_size = 0.14999)

# then split the train and validation sets
train_data, valid_data = train_test_split(train_valid, test_size = 0.17645)

In [8]:
# save as csv files -- these file paths are for this notebook only

test_data.to_csv('../data/test_data.csv', index = False)
print('shape of unprocessed test data: ', test_data.shape)

valid_data.to_csv('../data/valid_data.csv', index = False)
print('shape of unprocessed validation data: ', valid_data.shape)

train_data.to_csv('../data/train_data.csv', index = False)
print('shape of unprocessed training data: ', train_data.shape)

shape of unprocessed test data:  (6176, 21)
shape of unprocessed validation data:  (6176, 21)
shape of unprocessed training data:  (28824, 21)